@charset "utf-8";
@media screen and(min-width:481px) {
}
html{
	font-size: 62.5%;
}
body{
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: Arial, "YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-feature-settings : "palt";
	-moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
		background:rgb(0, 0, 0);
		background-image: url(../img/moon2.png);
		width: 100%;
		text-align: center;
		border-bottom: 2px dashed #fafafa; /* 破線 */
}
@media screen and(min-width:481px) {
}
header{
	background: url(../img/SM_logo.png) center / cover;
	width: 600px;
	height: 200px;
	margin: 0 auto;
	/* padding-top: 10px; */
}
.header_bg {
	clear:both;
	/* position: relative; */
	/* padding-top: 60px; */
	text-align: center;
	width: 100%;
	height: 200px;
}

.header_bg p {
  color: yellow;
	font-size: 50px;
	font-weight: bold;
  }

p{
    font-size:200%;
    text-align: center;
    height:200px;
		margin: 0 auto;
}

button {
	box-shadow: 0 4px 0 yellow;
	cursor : pointer;
}
button:hover{
    background: yellow;
    color:#fff;
		transform: translateY(2px);
		box-shadow: 5px 5px 5px 5px yellow;
}


a{
	text-decoration: none;
	color: rgb(251, 16, 141);
	font-weight: bold;
}

.btn-silver {
	font-size: 20px;
	padding: 3px 3px 3px 3px;
}
#btn-gold {
	font-size: 20px;
	margin-top: 70px;
}

a.btn-silver {
  color: #000;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-linear-gradient(135deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

a.btn-silver:hover {
  text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
}

#btn-gold {
  color: #b1921b;
  border-right: 4px solid #cea82c;
  border-bottom: 10px solid #987c1e;
  border-left: 4px solid #ffed8b;
  border-radius: 0;
  background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
  background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
  background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
  text-shadow: -1px -1px 1px #ffffd9;
}

#btn-gold:hover {
  /* margin-top: 3px; */
  color: #b1921b;
  border-right: 4px solid #cea82c;
  border-bottom: 7px solid #987c1e;
  border-left: 4px solid #ffed8b;
	cursor : pointer;
}

/* コメント追加したい */

a.btn--yellow {
  color: white;
  background-color: yellow;
  border-bottom: 5px solid #e6dce5;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #f8f7f7;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

#btn_comm {
width: 100%;
text-align: left;
margin-left: 30px;
margin-top: 10px;
margin-bottom: 10px;
}

.p_com1 {
height: 30px;
text-align: left;
}

.p_com2 {
	height: 50px;
	text-align: left;
}

.p_com3 {
	height: 140px;
}

form {
	height: 250px;
	width: 300px;
	text-align: left;
	margin-left: 30px;
	background-color: #fff;
	padding: 30px;
	padding-top: 0px;
}

#comments {
	text-align: left;
	margin-top: 30px;
	margin-left: 30px;
	font-size: 20px;
}

/* memo追加 */

h1{
	font-size: 100%;
}
main{
	width:100%;
	display: block;
	border-bottom:1px solid #ccc;
	position:relative;
}
footer{
	background-color: #fff;
	border-bottom:1px solid #ccc;
	text-align: center;
}
p{
	font-size:200%;
	text-align: center;
	border-bottom:1px solid #fff;
	height:200px;
}
ul{
	padding: 0;
	border-top: 1px solid #000000;
	display:table;  /*定義*/
	table-layout: fixed;
	width:96%;
	font-size: 80%;
	margin: 0 3%;
	text-align: center;
}
li{
	list-style-type:none;
	border: 1px solid #666;
	background-color: #fff;
	display:table-cell;  /* 定義 */
	cursor: pointer;
	color:#0d7dfd;
}
li:hover{
	background: #0d7dfd;
	color:#fff;
}
#text_area{
margin: 10px 3%;
width: 95%;
height: 200px;
font-size:80%;
box-shadow: 3px 3px 3px 3px #555;
background-color:rgb(241, 239, 239);
}
#key{
	margin:0 3%;
	width: 95%;
	font-size:80%;
	background-color: #e1efff;
	box-shadow: 3px 3px 3px 3px #555;
}
table{
	margin: 20px 3%;
	border:1px solid #8dc3f5;
	width:96%;
	
}
th{
	width:30%;
	font-size:24px;
	background-color:#d0e7fc;
	border-bottom: 1px solid #8dc3f5;
}
td{
	font-size:16px;
	background-color:rgb(241, 239, 239);
	border-bottom: 1px solid #8dc3f5;
}
